import("methods")
import("data.table")
import("FLCore")
import("ggplotFL")
import("foreach")
import("parallel")
importFrom("utils", "setTxtProgressBar")
importFrom("stats", "coef", "coefficients", "lm", "na.exclude", "rf")
exportPattern("^[^\\.]")
