import("methods")
import("data.table")
import("FLCore")
importFrom(FLBRP,
  "brp")
importFrom(stats,
  "setNames")
import("ggplotFL")
import("foreach")
import("parallel")
importFrom("utils",
  "setTxtProgressBar")
importFrom("stats",
  "coef",
  "coefficients",
  "lm",
  "na.exclude",
  "setNames",
  "rf")
exportClasses(
  "FLom",
  "FLoem",
  "mseCtrl",
  "FLiem")
export(
  "doRuns",
  "expandGrid",
  "gridList",
  "mcN",
  "tune")
exportMethods(
  "performance")
