import("methods")
import("data.table")
import("parallelly")
import("doFuture")
import("progressr")
import("patchwork")
import("FLCore")
import("ggplotFL")
import("FLFishery")
import("FLasher")

importFrom("FLBRP",
  "refpts",
  "refpts<-",
  "brp",
  "FLBRP",
  "remap",
  "computeRefpts")

importFrom("stats",
  "coef",
  "coefficients",
  "dist",
  "lm",
  "mad",
  "na.exclude",
  "setNames",
  "rf",
  "uniroot")

importFrom("ggrepel",
  "geom_label_repel")

export(
  "bisect",
  "buffer.hcr",
  "catchSSB.hcr",
  "combinations",
  "computeFp05",
  "cpue.hcr",
  "cpue.ind",
  "cpues.ind",
  "decisions",
  "default.oem",
  "deplete",
  "effort.is",
  "effortlimit.fb",
  "expandGrid",
  "extractPerformance",
  "fixedC.hcr",
  "fixedF.hcr",
  "FLiem",
  "fwd.om",
  "goFish",
  "gridList",
  "hockeystick.hcr",
  "hr.hcr",
  "hyperstability.fb",
  "ices.hcr",
  "indicator.hcr",
  "indicator.is",
  "initiate",
  "labelPerformance",
  "len.ind",
  "loadlist",
  "meta.est",
  "meta.hcr",
  "mlc.ind",
  "movingF.phcr",
  "mp",
  "mpCtrl",
  "mpDispatch",
  "mpa.tm",
  "mps",
  "mseCtrl",
  "mse_statistics",
  "noise.iem",
  "perfect.oem",
  "perfect.sa",
  "periodsPerformance",
  "pid.hcr",
  "plot_buffer.hcr",
  "plot_hockeystick.hcr",
  "readPerformance",
  "response.fb",
  "sampling.oem",
  "seasonal.is",
  "selectMetric",
  "setdeviances",
  "setLabelPerformance",
  "summaryPerformance",
  "shortcut_devs",
  "shortcut.oem",
  "shortcut.sa",
  "simulator",
  "sp.is",
  "split.is",
  "tac.is",
  "target.hcr",
  "trend.hcr",
  "tunebisect",
  "tunegrid",
  "writePerformance")

exportClasses(
  "FLiem",
  "FLmse",
  "FLmses",
  "FLoem",
  "FLom",
  "FLombf",
  "mpCtrl",
  "mseCtrl")

exportMethods(
  "[",
  "args",
  "args<-",
  "biol",
  "biol<-",
  "biols",
  "biols<-",
  "c",
  "catch",
  "catch<-",
  "catch.n",
  "catch.n<-",
  "catch.wt",
  "catch.wt<-",
  "control",
  "db",
  "debug",
  "deviances",
  "deviances<-",
  "dims",
  "dimnames",
  "discards",
  "discards<-",
  "discards.n",
  "discards.n<-",
  "discards.wt",
  "discards.wt<-",
  "est",
  "est<-",
  "exists",
  "FCB",
  "FCB<-",
  "fec",
  "fisheries",
  "fisheries<-",
  "fleetBehaviour",
  "fleetBehaviour<-",
  "FLmse",
  "FLmses",
  "FLoem",
  "FLom",
  "FLombf",
  "fwd",
  "harvest",
  "harvest<-",
  "hcr",
  "hcr<-",
  "index.hat",
  "isys",
  "isys<-",
  "iter",
  "landings",
  "landings<-",
  "m",
  "m<-",
  "m.spwn",
  "m.spwn<-",
  "mat",
  "mat<-",
  "mcN",
  "merge",
  "method",
  "method<-",
  "metrics",
  "model",
  "model<-",
  "n",
  "observations",
  "observations<-",
  "oem",
  "oem<-",
  "om",
  "om<-",
  "performance",
  "performance<-",
  "phcr",
  "phcr<-",
  "projection",
  "projection<-",
  "rec",
  "refpts",
  "refpts<-",
  "sr<-",
  "ssb",
  "stock",
  "stock<-",
  "stock.n",
  "stock.n<-",
  "stock.wt",
  "stock.wt<-",
  "tm",
  "tm<-",
  "tsb",
  "track<-",
  "tracking",
  "tracking<-",
  "undebug",
  "wt")
